{{ form_start(form) }}
    {{ form_widget(form) }}
    {# {{ form_row(form.name) }} #}
    <button class="btn btn-large waves-effect waves-light pink lighten-1 col s12" style="margin-top: 20px;" type="submit" name="action">
        Validez la campagne
        <i class="material-icons right">send</i>
    </button>
{{ form_end(form) }}
